BOT_TOKEN=token
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DATABASE"
# LOG_DATE_PATTERN="DD/MM/YYYY" # Optional: Used by winston logs.
# DEV_GUILD_ID=id # Optional: Used to register commands to a specific guild.

